.v-menu .v-overlay__content,
.v-dialog .v-overlay__content>.v-card {
    border-radius: 15px !important;
}

.v-list-item {
    border-radius: 10px;
    margin-left: 7px;
    margin-right: 7px;
}

.v-list--nav .v-list-item,
.v-navigation-drawer__content .v-list-item {
    margin-left: 0px;
    margin-right: 0px;
}